<nav class="menu" role="nav">
    <ul>
      <li><a href="/tag/recipes/">Recipes</a></li>
      <li><a href="/about-me">My Ingredients</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
